body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-container {
  margin-top: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  a {
    text-decoration: none;
  }
  a:link,
  a:visited {
    border-radius: 10px;
    background-color: #2d72cc;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  a:hover,
  a:active {
    background-color: darken(#2d72cc, 20%);
    color: white;
  }
}

.presentation-container {
  width: 100%;
  margin-bottom: 30px;
}

.page {
  width: 50%;
  height: auto;
  max-height: 80%;
  display: flex;
  flex-direction: column;
}

.form-container {
  max-width: 50%;
}

input {
  height: 25px;
  border-radius: 5px;
  margin: 5px;
}

label {
  font-size: x-large;
}
